@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" style="background-color:#FFF;">
    <center>
        <br />
        <p class="lead">
            Bienvenue sur le site web de Servodroid.com
            <br />
            Le site est en cours de construction. Ouverture officielle prévue le 10 Aout 2016.
            <br />
            Merci de votre patience !
        </p>
        <img src="../Resources/workInProgress.jpg" />
        <br />
    </center>
</div>

@*<div class="row">
        <div class="col-md-4">
            <div class="box">
                <h2>Dicobot</h2>
                <p>Dictionnaire de robots. Chaque semaine, venez découvrir un nouveau robot. Découvert dans les films, en image ou développé dans le monde réel. Dans cette partie vous pouvez retrouver vos robots favoris.</p>
                <p><a class="btn btn-default" href="../DicoBot/DicoBotDetail">Let's start &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <h2>TOBI Assistant</h2>
                <p>Parlez avec notre Chatbot, TOBI assistant. Il découvre le monde à travers vos échanges, n'hésitez pas à repasser pour voir son évolution. Il est né le 19 Septembre 2014, essayez d'être patient avec lui !</p>
                <p><a class="btn btn-default" href="../Tobi/Tobi">Let's start &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <h2>Robot factory</h2>
                <p>Venez découvrir nos robots. Plans 3D, électronique, programmation... Vous voulez votre propre robot ? Contactez nous et nous trouverons des solutions ensemble.</p>
                <p><a class="btn btn-default" href="Home/StandBye">Let's start &raquo;</a></p>
            </div>
        </div>
    </div>*@